@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Science Gothic', sans-serif;
    box-sizing: border-box;
}